<h1>Edit a task</h1>

<%= form_with model: @task do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :details %>
  <%= f.text_field :details %>

  <%= f.label :completed %>
  <%= f.select :completed, options_for_select([['True', true], ['False', false]], @task.completed) %>

  <%= f.submit %>
<% end %>
