<h1>Showing all tasks with details</h1>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @task.completed %>
</p>
<%=link_to "edit", edit_task_path(@task)%>


<p>
  <strong>Details:</strong>
  <%= @task.details %>
</p>

<%=link_to "go back to all list", tasks_path()%>
